.caroussel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  height: 415px;
  overflow: hidden;
  position: relative;
}

.caroussel-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: center;
  position: relative;
}

.caroussel-action {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.caroussel-arrow {
  display: flex;
  justify-content: space-between;
  padding: 0 23px 0 23px;
  width: 100%;
  cursor: pointer;
  position: absolute;
}

.counter-nb {
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  margin-top: 357px;
}
