.head-cover {
  display: flex;
  width: 100%;
  height: 223px;
  border-radius: 25px;
  background-color: black;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 48px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
}

.head-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.3;
  z-index: 0;
}
.head-text {
  z-index: 1;
}
