body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: #ff6060;
}

html,
body,
#root {
  height: 100%;
}

.main {
  display: flex;
  width: 100%;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  background-color: white;
  align-items: flex-start;
  padding: 40px 100px;
}

.home-content {
  display: flex;
  width: 100%;
  padding-top: 43px;
  flex-direction: column;
}

.home-cards {
  display: flex;
  gap: 60px;
  background: #f6f6f6;
  padding: 56px 50px;
  border-radius: 25px;
  margin-top: 43px;
  flex-wrap: wrap;
}

.error404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.error {
  font-size: 288px;
  font-weight: 700;
  color: #ff6060;
  margin: 66px 0 0 0;
}

.text {
  color: #ff6060;
  font-size: 18px;
  font-weight: 500;
  margin: 66px 0 0 0;
}

.textInfo {
  color: #ff6060;
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 182px;
}

.title-product {
  font-size: 36px;
  font-weight: 500;
  margin: 30px 0 0 0;
}

.location-product {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

.info-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-collapes {
  display: flex;
  gap: 76px;
  margin-top: 24px;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.about-collapse {
  display: flex;
  flex-direction: column;
  min-width: 1023px;
  margin-top: 30px;
  gap: 30px;
}
