.collapse-button {
  display: flex;
  height: 52px;
  align-items: center;
  background-color: #ff6060;
  color: white;
  font-weight: 500;
  font-size: 18px;
  border-radius: 10px;
  padding: 0 20px;
  border: none;
  cursor: pointer;
  justify-content: space-between;
}

.collapse-container {
  background-color: #f6f6f6;
  border-radius: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.collapse-container.hide {
  height: max-content;
}

.collapse-container.hide .collapse-description {
  display: none;
}

.collapse-container.hide .collapse-arrow {
  transform: rotate(180deg);
}

.collapse-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  padding: 40px 20px 50px 20px;
}
.collapse-description p {
  padding: 0;
  margin: 0;
}

.collapse-arrow {
  transition: all 0.3s;
}
